<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= product.name %></title>
</head>

<body>
  <form action="/<%= product.id %>?_method=PUT" method="post">
    <input type="text" name="name" placeholder="Product name" value="<%= product.name %>">
    <input type="number" name="price" placeholder="Product price" value="<%= product.price %>">
    <input type="checkbox" name="onSale" <% if (product.onSale) { %>
     checked
    <% } %>>on-sale <br>
    <input type="submit" value="save">
  </form>
</body>

</html>